.header {
  text-align: center;
  font-size: 50px;
  background-color: gold;
  line-height: 4em;
}

.colum1 {
  float: left;
  width: 25%;
  margin-right: 120px;
}

.colum2 {
  float: left;
}

.colum3 {
  float: right;
}
